html {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f7f2ef;
  color: #30333a;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

@import 'typography';
@import 'sizing';

a.external {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  color: inherit;
  &:hover {
    opacity: 0.5;
  }
}

p {
  line-height: 2em;
}

img {
  background: #fff;
}
